$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;

$black-100: #343a40;
$black-200: #212529;
$black-300: #121416;
$black-400: #0d0e0f;
$black-500: #000000;
$black-600: #000000;

$red-100: #fff5f5;
$red-200: #ffe3e3;
$red-300: #ffc9c9;
$red-400: #ffa8a8;
$red-500: #ff8787;
$red-600: #ff6b6b;
